html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

p:first-of-type {
  font-size: 35px;
  font-color: linear-gradient(
    to right,
    rgba(98 100% 62%),
    rgba(204 100% 59%)
  );
  font-style: normal;

}
.synopsis em {
  text-align: center;
  font-style: normal;
}
h1 {
  font-size: 87px;
  padding: 10px 0 10px 10px;
  border: 1px solid #5D6063;
  align-content: center;
  font-color: #000000;
}


.button:link,
.button:visited {
  display: block;
  text-decoration: none;

  color: #000000;    /* this is the button text color*/
  background: rgb(29,9,43);
background: linear-gradient(90deg, rgba(29,9,43,1) 0%,
rgba(29,158,253,1) 46%,
rgba(220,252,69,1) 100%);

  font-weight: bold;
  padding: 15px;
  text-align: center;
  border: 1px solid #000000;    /* Dark gray */
  border-radius: 0px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #ffffff;
  background-color: #ffffff;  /* Light blue */
}
.button:active,
.button:visited:active {
  color: #ffffff;
  background-color: #ffffff;  /* Blue */
}
.page {
  width: auto;
  height: 1000px;
  margin: 0.1;
  background: rgb(54,54,54);
  background: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(132,164,187,1) 46%, rgba(252,252,252,1) 100%);
}
.pageinside {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  }

.pageoutside {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
}
.pageinsideday {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  }

.pageinsidenight {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  }

.pageoutsideday {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  }

.pageoutsidenight {
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  }

.call-to-action:link,
.call-to-action:visited {
  font-style: normal;
  background-color: #ffffff;     /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #ffffff;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #ffffff;     /* Yellow */
}
}
a:link {
  color: 000000;
  text-decoration: none;
}
a:visited: {
  color: 000000;
}
a:hover {
  color: 000000;
  text-decoration: underline;
}
a:active {
  color: 000000;
}
a:visited:hover {
  color: 000000;
}
a:visited:active {
  color: 000000;
}
p:last-of-type {
  margin-bottom: 50px;
}
